<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1551024709-8f23befc6f87?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2625&q=80);">
  <div class="container">
    <h1 class="title">Mrs. Cocktail</h1>
    <p>Open your tastebuds to new possibilities!</p>
    <p class="remove-decoration" id="main-btn"><%= link_to "Create a Cocktail", new_cocktail_path, class: "btn-yours" %></p>
  </div>
  <div class="search">
    # <%= simple_form_for :search, url: root_path, method: "GET", html: { class: 'form-inline' } do |f| %>
      <%= f.input :name, label: false, input_html: {value: ""} %>
      <%= f.submit "Find", class: "btn-yours btn-search", id: "main-btn", turbolinks: true %>
    <% end %>
  </div>
</div>

<div class="cocktail-container">
  <% @cocktails.each do |cocktail| %>
    <div class="cocktail-card" style="background-image: linear-gradient(rgba(20,20,20, 0.4), rgba(20,20,20, 0.4)), url(https://source.unsplash.com/random/350x250)">
      <p><%= link_to cocktail.name, cocktail_path(cocktail) %></p>
    </div>
  <% end %>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Made with <i class="fas fa-heart"></i>
  </div>
</div>
